<launch>
  <arg name="startall" default="true" />

  <!-- Board parameters -->
  <param name="board_width" value="8" />
  <param name="board_height" value="6" />
  <param name="board_square_tiles" value="2" />
  <param name="board_line_tiles" value="2" />
  <param name="board_s_tiles" value="2" />
  <param name="board_z_tiles" value="2" />
  <param name="board_reverse_l_tiles" value="2" />
  <param name="board_t_tiles" value="2" />
  <param name="board_l_tiles" value="2" />
  <param name="board_thickness" value="0.007" />
  <param name="board_fixed" value="true" />
  <param name="board_top_left_marker" value="8" />
  <param name="board_top_right_marker" value="7" />
  <param name="board_bottom_left_marker" value="9" />
  <param name="board_bottom_right_marker" value="10" />

  <!-- Pick-and-place parameters -->
  <param name="gripper_side" value="right" />
  <param name="z_offset" value="0.005" />
  <param name="z_max_steps" value="100" />
  <param name="z_delta" value="0.001" />
  <param name="lift_offset" value="0.05" />
  <param name="drop_offset" value="0.001" />
  <param name="verbose" value="true" />

  <!-- Camera parameters -->
  <arg name="camera_side" default="left" />
  <arg name="marker_size" default="6" />
  <arg name="max_new_marker_error" default="0.15" />
  <arg name="max_track_error" default="0.3" />
  <arg name="cam_image_topic" default="/cameras/$(arg camera_side)_hand_camera/image" />
  <arg name="cam_info_topic" default="/cameras/$(arg camera_side)_hand_camera/camera_info" />
  <arg name="output_frame" default="/$(arg camera_side)_hand" />
  <arg name="max_frequency" default="10.0" />
  <arg name="marker_resolution" default="5" />
  <arg name="marker_margin" default="2" />

  <param name="tile_size" value="$(arg marker_size)" />

  <group if="$(arg startall)">
    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect"
          respawn="true" output="screen"
          args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error)
                $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)
                $(arg max_frequency) $(arg marker_resolution) $(arg marker_margin)" />
    <include file="$(find tetris)/launch/baxter_moveit_headless.launch" />
    <include file="$(find tetris)/launch/baxter_state_publisher.launch" />
  </group>
  <node name="tetris" pkg="tetris" type="tetris.py" output="screen" />
</launch>
